@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  font-family: Roboto, "Times New Roman", Times, serif;
}

.pagmain {
  background-image: url("https://c1.wallpaperflare.com/preview/650/796/872/code-programming-coding-web.jpg");
  /* background-repeat: no-repeat; */
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: animatie 30s linear infinite;
}

.pagcss {
  background-image: url("https://miro.medium.com/v2/resize:fit:1400/0*oKIROxSAKBVkbPMO");
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: animatie 30s linear infinite;
}

.pagtable {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagmultimedia {
  background-image: url("https://www.push-entertainment.com/video-wallpaper/img/Evening-Drive-Video-Screensaver.jpg");

  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: animatie 30s linear infinite;
}

.navdiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar {
  background: #e1dede;
  width: 800px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 3px solid rgb(125, 103, 103);

  text-align: center;
}

.navbar li {
  list-style: none;
  display: inline;
  font-size: 25px;
  margin: 5px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: rgb(194, 193, 193);
  font-weight: bold;
}

/* 296px */
@media (max-width: 320px) {
  /* body {
    width: 400px;
  } */

  h1 {
    font-size: 20px;
  }

  .navbar a {
    font-size: 20px;
  }
}

/* tabela index  */
.tabela {
  margin: auto;
  width: 50%;
}

.tabela td {
  border: 2px solid whitesmoke;
  padding: 8px;
}

.td2 {
  background-color: #f7f4f4;
}

.tabelath {
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 15px;
}

.infos {
  background-image: url("https://itschool.ro/_next/static/media/background.570f46a1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */

  display: flex;
  flex-direction: column;
}

.infos p,
h3 {
  margin: 10px;
  /* font-family: Roboto, "Times New Roman", Times, serif; */
}

.infoContent {
  margin-left: 40px;
  border-left: 1px solid #ffaa9f;
}

.tentativa_de_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  margin: 5px;
}

.tentativa_de_footer p {
  margin: 0;
  /* font-family: Roboto, "Times New Roman", Times, serif; */
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #868585;
}

::-webkit-scrollbar-thumb:hover {
  background: #706d6d;
  /* border-top-left-radius: 15px; */
  border-bottom-left-radius: 15px;
}

.pagdespre {
  background-image: url("https://wallpaperaccess.com/full/2138689.png");
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  animation: animatie 30s linear infinite;
}

@keyframes animatie {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10px -512px;
  }
}

.content-despre {
  background-image: url("https://itschool.ro/_next/static/media/background.570f46a1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: -20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1100px) {
  .iframeDiv {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .responsiveiframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

.portalcontent {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  flex-direction: column;
}

.navbarportal {
  display: flex;
  width: 100%;
  height: 50px;
  background: rgb(227, 102, 102);
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: portalGradient 15s ease infinite;
}

.navbarportal button {
  margin-left: auto;
  margin-right: 10px;

  cursor: pointer;
  color: black;
  font-weight: bold;
  font-family: Kanit;
  text-transform: uppercase;
  /* background-color: rgb(84, 105, 212); */
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  height: 28px;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: portalGradient 15s ease infinite;

  transform: scale(1);
}

.navbarportal button:hover {
  transform: scale(0.9);
}

.navbarportal h1 {
  margin: 15px;
  /* font-size: 15px; */
  font-family: Roboto;
}

@keyframes portalGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.terminal {
  display: flex;
  flex-direction: column;
  min-width: 1022px;
  height: 600px;
  background: #0c0c0c;
  margin: auto;
  margin-top: 50px;

  border-radius: 7px;
}

.terminalwTitle {
  width: 100%;
  height: 50px;
  background: black;
  display: flex;
  align-items: end;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.terminaltab {
  width: 250px;
  height: 30px;
  background: #282828;
  color: white;
  font-weight: 500;
  font-size: 13px;
  font-family: Roboto;
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  align-items: center;
}

.terminalotherbuttons {
  /* background: red; */
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
}

.terminalotherbuttons a {
  color: white;
  margin-left: 14px;
  font-size: 20px;
}

.terminaltyping {
  width: 100%;
  height: 100%;
  color: gray;
  font-family: Roboto;
  font-weight: 500;
  color: rgb(199, 195, 195);
  margin: 15px;

  text-wrap: wrap;
}
